.success {
  border: 1px solid green;
  background-color: greenyellow;
  color: darkgreen;
}

.error {
  border: 1px solid red;
  background-color: salmon;
  color: red;
}

.warning {
  border: 1px solid brown;
  background-color: #FFFF7F;
  color: brown;
}